FileUploadClientApp/web/WEB-INF/wsdl/localhost_8080/FileUploadWebService/ImageServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="GetImageDetails" type="tns:GetImageDetails"/>

<xs:element name="GetImageDetailsResponse" type="tns:GetImageDetailsResponse"/>

<xs:element name="upload" type="tns:upload"/>

<xs:element name="uploadResponse" type="tns:uploadResponse"/>

<xs:complexType name="upload">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetImageDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetImageDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:imaged" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imaged">
<xs:sequence>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>